*,
::after ::before {
	box-sizing: border-box;
}
body {
	font-size: 0.874rem;
	opacity: 1;
	overflow-y: scroll;
	margin: 0;
	background-color: rgb(1, 1, 2);
	margin-bottom: 3rem;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: gray;
}
li {
	list-style: none;
}
h4 {
	font-size: 1.275rem;
	color: gray;
}
.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 0;
	padding: 0 2rem;
}

/* main */
.menu-nav {
	display: flex;
	justify-content: end;
}

.card-title {
	color: white;
}
.card-subtitle {
	color: gray;
}

.img-admin {
	max-width: 150px;
	width: 100%;
	background-color: rgb(68, 67, 67);
}
.btns-agregar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
}
.btn-secondary {
	background-color: rgb(68, 67, 67);
	border: none;
	font-weight: bold;
	color: black;
}

/* solapas */
/* css tabla usuarios */
#botonEdit {
	background: #f5af19;
	 
}

#botonEdit2 {
	background: #f12711;
}

#formErrorModalEditUser {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #f12711, #f5af19);
	background: linear-gradient(to right, #f12711, #f5af19);
	background-clip: initial;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	
}