.btn {
	background: linear-gradient(to right, #f12711, #f5af19);
}

h1 {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #f12711, #f5af19);
	background: linear-gradient(to right, #f12711, #f5af19);
	background-clip: initial;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #f12711, #f5af19);
	background: linear-gradient(to right, #f12711, #f5af19);
	background-clip: initial;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.form-label {
	color: #f16b11;
}

#Parrafo1 {
	color: whitesmoke;
}

#Parrafo2 {
	color: whitesmoke;
}

body {
	background-image: linear-gradient(
			180deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url(../img/imagen-contacto.png);
	background-size: cover;
	background-position: 100%;
	object-fit: cover;
	background-position: center;
}

main {
	margin-bottom: 150px;
}
#CajaForm {
	border: 0.3rem outset #e96208;
}

#formErrorContacto {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #f12711, #f5af19);
	background: linear-gradient(to right, #f12711, #f5af19);
	background-clip: initial;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 18px;
}

@media (min-width: 940px) {
	#footerContacto {
		/*  position: sticky; */
		bottom: 80px;
		width: 100%;
	}

	#CajaForm {
		width: 60%;
	}
}
/* ipad mini */
@media (min-width: 768px) {
	#CajaForm {
		width: 50%;
	}
}
