body {
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins';
	background: black;
    color: black;
	
    	}






.gif{
    width: 200px;
    opacity: 70%;
    display: block;
    margin: auto;
}

.Oops404{
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    padding-right: -200px;
    color: white;
    text-align: center;
}

.texto404{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 1%;
}

.error404{
    display: block;
    margin: auto;
    margin-top: 10%;
}


