@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins';
	background: black;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

::selection {
	background-color: #ffff0a;
	color: grey;
}
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.835), rgba(0, 0, 0, 9)),
		url(../img/pelicula_destacada2.jpg);
	background-size: cover;
	background-position: 50%;
	height: 91vh;
}

.navigation {
	padding: 20px 0px;
	max-width: 1400px;
	margin: auto;
	width: 100%;
}

.navbar-nav .nav-item .nav-link {
	font-size: 16px;
	color: white;
}

.navbar-nav .nav-item .nav-link:hover {
	color: #ffe940;
}

#menu-burger {
	color: #f12711; 
	color: -webkit-linear-gradient(to right, #f12711, #f5af19); 
	color: linear-gradient(to right, #f12711, #f5af19);
	font-size: 2rem;
}
/* cambiar color del menu amburguesa!!
 .navbar-toggler .navbar-toggler-icon {
	color: white !important;
}  */
.menumi {
	margin-right: 0px;
}
.menumi ul {
	margin-left: 160px;
}

.menumi li a {
	font-size: 1rem;
	font-weight: 800;
	transition: all ease 0.3s;
}
/* media query para el menu */
@media (max-width: 991px) {
	.sidebar {
		background-color: #11111198;
		backdrop-filter: blur(10px);
		font-family: Poppins;
		/* menu */
		.menumi {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			width: 100%;
			height: 100%;
			animation: fade 0.3s;
		}

		.menumi ul {
			margin-left: 0px;
		}

		.menumi li a {
			margin: 30px;
			font-size: 3rem;
			font-family: Monoton;
			transition: all ease 0.3s;
		}

		.menumi li a:hover {
			font-size: 1.3rem;
			color: #ffe940;
			transition: all ease 0.3s;
		}
		.menumi .content-btn {
			width: 100%;
		}
		.menumi .nav-btn {
			margin: 15px 0px 15px;
			background-color: transparent;
			border: 1px solid rgba(71, 70, 70, 0.291);
			border-radius: 20px;
			width: 78%;
			padding: 10px;
		}
		.menumi .nav-btn:hover {
			background-color: #ffe940;
		}
		.logo {
			font-size: 2rem;
			margin: auto;
		}
		.search-box {
			width: 80%;
			margin: auto;
		}
	}
}

/* media query iphone12 */
@media (max-width: 390px) {
	.logo {
		font-size: 3rem !important;
		margin: 0px auto 0px 1px !important;
	}
	.search-box input {
		width: 60%;
		font-size: 13px;
	}

	main .estrenos {
		margin: 10px 0px 60px 0px !important;

		font-size: 3rem !important;
		font-weight: 100;
		font-family: Monoton;
		text-transform: uppercase;
		text-align: center;
	}

	/* cabecera */
	.cabecera {
		margin-top: 100px !important;
		margin: 0px;
	}
	.cabecera-titulo {
		font-size: 2rem !important;
		font-weight: 600 !important;
	}

	.cabecera-parrafo1 {
		font-size: 2rem !important;
		font-weight: 400;
	}

	.cabecera-parrafo2 {
		font-size: 1rem !important;
		font-weight: 200;
		line-height: 1rem;
	}
	#menu-burger {
		color: red !important;
		font-size: 2.5rem;
	}
}

/* media query fold */
@media (max-width: 280px) {
	.logo {
		font-size: 2rem !important;
		margin: 0px auto 0px 1px !important;
	}
	.search-box input {
		width: 60%;
		font-size: 13px;
	}

	#slider-principal .estrenos {
		margin: 190px 0px 60px 0px !important;
		font-size: 2rem !important;
		font-weight: 200;
		font-family: Monoton;
		text-transform: uppercase;
	}

	#menu-burger {
		color: red !important;
		font-size: 2rem;
	}

	/* cabecera */
	.cabecera {
		position: absolute;
		top: -10%;

		padding-left: 30px;
	}
	.cabecera-titulo {
		font-size: 2rem !important;
		font-weight: 600 !important;
	}

	.cabecera-parrafo1 {
		font-size: 1rem !important;
		font-weight: 400;
	}

	.cabecera-parrafo2 {
		font-size: 1rem !important;
		font-weight: 200;
		line-height: 1rem;
		margin: auto;
	}

	main .estrenos {
		margin: 90px 0px 60px 0px !important;
		font-size: 2rem !important;
		font-weight: 100;
		font-family: Monoton;
		text-transform: uppercase;
		text-align: center;
	}
}

/* media query xxl */
@media (mi-width: 1400px) {
	.navigation {
		margin: auto;
	}
	.logo {
		font-size: 3rem !important;
	}
}

/* logo */
.logo {
	color: #ffe940;
	text-shadow: 10px -8px 17px rgba(243, 212, 8, 0.738);
	background: linear-gradient(rgb(255, 25, 0), rgb(255, 98, 0));
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 400;
	font-family: 'Monoton', sans-serif;
	margin: 0px auto 0px 30px !important;

	display: flex;
	align-items: center;
	letter-spacing: 1px;
}
.logo:hover {
	color: #ffe940;
}
.logo span {
	font-size: 2.3rem;
	margin: 0px;
	font-weight: 700;
	letter-spacing: 1px;
	color: red;
}

/* search-box */
.div-search {
	margin-right: 0px;
}
.search-box {
	background-color: #d1d1d13c;
	padding: 3px 32px;
	border-radius: 20px;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 5px;
	width: 75%;
}
.search-box input {
	background-color: transparent;
	border: none;
	outline: none;
	color: #ffffff;
	width: 80%;
}
.search-box input::placeholder {
	color: #ffffff5e;
}
.search-box button {
	background-color: transparent;
	color: #ffffffc9;
	border: none;
	outline: none;
	cursor: pointer;
}

.red-btn {
	font-size: 1.5rem;
	font-weight: bold;
	background-color: transparent;
	color: #fff;
	border: 1px solid #ffe940;
	border-radius: 5rem;
	padding: 8px 27px;
}

.red-btn:hover {
	background: linear-gradient(to right, red, yellow);
	color: black;
	border: 1px solid rgba(71, 70, 70, 0.291);
}

.nav-btn {
	font-size: 0.8rem;
	font-weight: bold;
	background-color: transparent;
	color: #fff;
	border: 1px solid #ffe940;
	border-radius: 5rem;
	padding: 5px 17px;
}

.nav-btn:hover {
	background: linear-gradient(to right, red, yellow);
	color: black;
	border: 1px solid rgba(71, 70, 70, 0.291);
}

/* cabecera */
.cabecera {
	margin-top: 250px !important;

	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 30px;
}
.cabecera-titulo {
	font-size: 2rem;
	font-weight: 900;
	color: gray !important;
}

.cabecera-parrafo1 {
	font-size: 1.5rem;
	font-weight: 400;
	color: gray !important;
}

.cabecera-parrafo2 {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.875rem;
	color: gray !important;
	margin-bottom: 50px;
}

/* slider-principal*/
#main-slider {
	max-width: 1170px;
	width: 100%;
}

main .estrenos {
	margin-top: 0px;
	font-size: 5rem;
	font-weight: 900;
	background: linear-gradient(to right, red, yellow);
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: 18px -12px 16px rgba(244, 185, 76, 0.423);
	text-transform: uppercase;
	position: relative;
}
.slider-principal {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	max-width: 1170;
	width: 100%;
}
.main-slider-box {
	width: 100%;
	height: 450px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #0e0e0ec2;
	position: relative;
	overflow: hidden;
	user-select: none;
}

.main-slider-img {
	width: 100%;
	height: 130%;
}
.main-slider-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/* info slider principal */
.main-slider-text {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(360deg, #161616b9 35%, rgba(73, 73, 73, 0.23) 64%);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 25px;
}

.main-slider-text .quality {
	background: linear-gradient(to right, red, yellow);
	color: #080808;
	font-weight: 600;
	padding: 0px 5px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.main-slider-text .movie-name {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.main-slider-text .movie-name span {
	font-size: 0.9rem;
	letter-spacing: 1px;
	font-weight: 400;
	color: rgba(240, 240, 240, 0.82);
}
.main-slider-text .movie-name strong,
.main-slider-text .movie-name a {
	font-size: 1rem;
	font-weight: 500;
	line-height: 20px;
	margin-top: 10px;
	color: #dfdfdf;
	letter-spacing: 0.5px;
}
.main-slider-text .category {
	color: #969696;
	font-size: 0.8rem;
	font-weight: 500;
}
.main-slider-text .category a {
	color: red;
	margin: 0px 3px;
}
.rating img {
	height: 10px;
	width: 20px;
	object-fit: contain;
	object-position: center;
}
.rating {
	font-size: 0.8rem;
	color: #ffffff;
	letter-spacing: 1px;
}
.main-slider-text .category-rating {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 20px;
}
.main-slider-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 100%;
	background-color: rgba(27, 27, 27, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	transition: all ease 0.3s;
	z-index: 2;
}
.main-slider-overlay i {
	font-size: 2rem;
}
.main-slider-box:hover .main-slider-overlay {
	top: 0px;
	transition: all ease 0.3s;
}
/* end info */
.swiper-button-next,
.swiper-button-prev {
	position: static !important;
	transform: translate(0, 0);
	margin: 10px 0px 0px 20px !important;
}

.slider-btns {
	display: flex;
	justify-content: flex-end;
	max-width: 1170px;
	width: 100%;
	margin: 10px auto 0px auto;
}
.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 25px !important;
	font-weight: 800;
	color: #ffffff;
}

/* categorias  sliders  secundarios*/
.categorias {
	max-width: 1170px;
	margin: 30px auto;
	width: 100%;
}
.titulo {
	color: #fff;
	opacity: 0.6;
	padding-left: 4%;
	text-transform: capitalize;
	font-size: 28px;
	font-weight: 600;
}
.lista-peliculas {
	width: 100%;
	height: 220px;
	position: relative;
	margin: 10px 0 20px;
}
.card-container {
	position: absolute;
	width: 100%;
	padding-left: 4%;
	height: 270px;
	display: flex;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: visible;
	scroll-behavior: smooth;
}
.card-container::webkit-scrollbar {
	display: none;
}
.card {
	position: relative;
	min-width: 150px;
	width: 150px;
	height: 200px;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 10px;
	margin-left: 10px;
	transition: 0.5s;
	background: #000;
}
.card:hover {
	transform: scale(1.1);
}
.card:hover .card-body {
	opacity: 1;
}
.card-img {
	width: 100%;
	height: 110%;
	object-fit: cover;
	object-position: center;
}
/* info peliculas en sliders secundarios */
.card-body {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(27, 27, 27, 0.6);
	padding: 18px;
	transition: 0.5s;
}
.name {
	color: #fff;
	font-size: 10px;
	font-weight: 700;
	text-transform: capitalize;
	margin-top: 60%;
}
.des {
	color: #fff;
	opacity: 0.8;
	margin: 5px 0;
	font-weight: 500;
	font-size: 8px;
}
.watchlist-btn {
	position: relative;
	width: 100%;
	text-transform: capitalize;
	background: none;
	border: none;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	color: rgba(255, 255, 255, 0.5);
	margin: 1px 0;
	cursor: pointer;
	padding: 2px 5px 5px;
	border-radius: 5px;
}
.watchlist-btn::before {
	content: '';
	position: absolute;
	top: -1px;
	left: -3px;
	height: 18px;
	width: 18px;
	background-image: url(images/add.png);
	background-size: cover;
	transform: scale(0.4);
}
.watchlist-btn:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.1);
	/* 	background: linear-gradient(to right, red, yellow); */
}

.pre-btn,
.nxt-btn {
	position: absolute !important;
	top: 0;
	width: 5%;
	height: 100%;
	z-index: 2;
	border: none;
}

.pre-btn {
	left: 5px;
	/* background: linear-gradient(to right, #4d4949b0 0%, #c5c5c500); */
}

.nxt-btn {
	right: 15px;
	/* background: linear-gradient(to left, #e259598d 0%, #3c3b3b00); */
}

.pre-btn img,
.nxt-btn img {
	margin-top: 90px;
	margin-right: 0px;
	width: 20px;
	height: 30px;
}
/* .pre-btn:hover img,
.nxt-btn:hover img {
}
 */
